doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/scripts/api.js')
    script(src='/scripts/render.js')
    script(src='/scripts/main.js')
  body
    block content
